<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
</head>
<body>
<aside th:fragment="layout-sidebar" th:class="${session.user == null or session.user.authority == 2} ? ${'search'} : ${'admin_menu'}" >
	<!--/* 検索メニュー(一般会員用) */-->
	<div  class="search_area" th:if="${session.user == null or session.user.authority == 2}">
		<h2 class="title">カテゴリ別検索</h2>
		<div class="form">
			<form th:action="@{/item/list/category/1?categoryId={id} }">
				<select name="categoryId">
					<option th:each="category: ${session.categories}"
						th:value="${category.id}" th:text="${category.name}"></option>
				</select> <input type="submit" value="検索" />
			</form>
		</div>
	</div>

	<div  class="search_area" th:if="${session.user == null or session.user.authority == 2}">
		<h2 class="title">価格帯別検索</h2>
		<ul class="menu">
			<li><a th:href="@{/item/list/price/1?min=0&max=999}" class="price">1000円未満</a></li>
			<li><a th:href="@{/item/list/price/1?min=1000&max=1999}" class="price">1000円以上2000円未満</a></li>
			<li><a th:href="@{/item/list/price/1?min=2000&max=2999}" class="price">2000円以上3000円未満</a></li>
			<li><a th:href="@{/item/list/price/1?min=3000&max=2100000000}" class="price">3000円以上</a></li>
		</ul>
	</div>

	<!--/* メニュー(運用管理者、及びシステム管理者用) */-->
	<div th:if="${session.user != null and session.user.authority != 2}">
		<h2 class="title">メニュー</h2>
		<ul class="menu">
			<li>
				<a th:href="@{/user/list}" class="display_list">会員一覧表示</a>
			</li>
			<li th:if="${session.user.authority == 1}">
				<a th:href="@{/order/list/admin}" class="display_list">注文一覧表示</a>
			</li>
			<li th:if="${session.user.authority == 1}">
				<a th:href="@{/item/list/admin}" class="display_list">商品一覧表示</a>
			</li>
			<li th:if="${session.user.authority == 1}">
				<a th:href="@{/category/list}" class="display_list">カテゴリ一覧表示</a>
			</li>
		</ul>
	</div>
</aside>
</body>
</html>